* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 600px;
  overflow-x: hidden;
  background-color: #000;
}
header {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  background-color: orange;
  color: #fff;
}
.logo h2 {
  font-family: cursive;
  font-size: 22px;
  font-weight: 700;
}

#input-box {
  padding: 10px;
  border: none;
  width: 250px;
  border-radius: 5px;
}
#search {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.main-container {
  width: 100%;
  display: flex;
  padding: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  padding: 10px;
  color: #fff;
  width: 300px;
  background-color: #373737;
  border-radius: 10px;
  margin: auto;
}
.card img {
  height: fit-content;
  width: 100%;
  border-radius: 10px;
}
footer {
  margin-top: 40px;
  padding: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #2a2a2a;
}
.loading {
  display: none; /* hidden by default */
  margin-top: 10px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #ddd;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
