* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 600px;
  overflow-x: hidden;
  background-color: #000;
}
header {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  background-color: orange;
  color: #fff;
}
.logo h2 {
  font-family: cursive;
  font-size: 22px;
  font-weight: 700;
}

#input-box {
  padding: 10px;
  border: none;
  width: 250px;
  border-radius: 5px;
}
#search {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.main-container {
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 20px 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  padding: 10px;
  height: 300px;
  width: 200px;
  background-color: red;
  border-radius: 10px;
}
